/* Add your global styling here */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  text-align: center;
}

/* Header */
header {
  background-color: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.nav-links a:hover {
  border-bottom: 2px solid white;
}

.social-icons {
  display: flex;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.open {
  transform: rotate(-45deg);
}

/* Main Content */
main {
  padding: 20px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 18px;
}

.footer-text {
  flex: 1;
}

.footer-social-icons {
  display: flex;
}
